#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Project Configuration"

config CMAKE_SOURCE_DIR
    string
    option env="CMAKE_SOURCE_DIR"


config ROM_COMPRESS
    def_bool n
    
config UART1_ENABLE
    def_bool y

config GPIO_UART1_TX
    default "4"

config GPIO_UART1_RX
    default "-1"

config USB0_ENABLE
    def_bool y

config USB_SERIAL
    def_bool y
		
config USB_OPTION
    def_bool y



source "$CMAKE_SOURCE_DIR/sdk/Kconfig"


menu "Test"

endmenu



