#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Project Configuration"

config TEST_PTHREAD
    bool
    default y
    #select HAVE_LCD
    #select HAVE_GRAPHICS
    #select HAVE_AUDIO
    #select HAVE_VIDEO

config CMAKE_SOURCE_DIR
    string
    option env="CMAKE_SOURCE_DIR"

config RAM_SIZE
    default "0x4000000"

config UART1_ENABLE
    def_bool y

config GPIO_UART1_TX
    default "4"

config GPIO_UART1_RX
    default "-1"

config DEF_DBG_UART1
    def_bool y

config ALT_CPU_ENABLE
    def_bool y

config HOMEBUS
    def_bool y

config GPIO_HOMEBUS_TXD
    default "35"

config UART2_ENABLE
    def_bool y

config DEF_UART2_FIFO
    def_bool y

config UART2_BAUDRATE
    default "9600"

config GPIO_UART2_TX
    default "-1"

config GPIO_UART2_RX
    default "37"

#config GPIO_HOMEBUS_RXD
#    default "37"

source "$CMAKE_SOURCE_DIR/sdk/Kconfig"


