#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Project Configuration"

config TEST_RTC
    bool
    default y
    #select HAVE_LCD
    #select HAVE_GRAPHICS
    #select HAVE_AUDIO
    #select HAVE_VIDEO

config CMAKE_SOURCE_DIR
    string
    option env="CMAKE_SOURCE_DIR"

config RTC_ENABLE
    def_bool y

source "$CMAKE_SOURCE_DIR/sdk/Kconfig"

menu "RTC Test"

choice
    prompt "Test App"
    default TEST_RTC

config RTC_TEST
    bool "Enable Rtc Test"

endchoice

endmenu
